h1{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Verdana;
	color: #8CEDF2;
	font-size: 15px;
	font-weight: bold;
}

body{
	background-color: #333 !important;
	text-align: center;
}

.button {
	background-color: #E5F635;
	border: solid;
	color: black;
	padding: 15px 15x;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}